body {
    background-color: #5e8ea5 !important;
}

#like {
    color:black !important;
    text-decoration: none;
}

#auth-jumbotron {
    width: 500px !important;
}

#navbar {
    background-color: #eee !important;
    border-radius: 5px !important;
}